body {
font-family: Tahoma, arial, helvetica;
overflow: hidden; background-color: pink;
}
#debugtext {
z-index:99;
position:absolute;
}
#page {
height:100%;
height:100vh;
width:100%; 
z-index:0;
position:absolute;
left:0;
top:0;
}
#icon {width:24px;height:24px;}
#middletext {font-size: 5rem;}
#testWord {font-size: 16rem; margin-bottom: 1rem;}
#verified {font-size: 8rem; margin-bottom: 1rem;}
div.gradient{
z-index:98;
left:0;
top:0;
position:absolute;width:100%;height:100%;
background: 
radial-gradient(80% 10%, circle, rgba(191, 62, 35, .5), transparent),
radial-gradient(80% 50%, circle, rgba(237, 192, 97, .4), transparent),
radial-gradient(20% 80%, 40em 40em, rgba(108, 70, 34 , .5), transparent),
radial-gradient(10% 10%, circle, rgba(196, 137, 118, .7), transparent);  
background:
-webkit-radial-gradient(80% 10%, circle, rgba(191, 62, 35, .5), transparent),
-webkit-radial-gradient(80% 50%, circle, rgba(237, 192, 97, .4), transparent),
-webkit-radial-gradient(20% 80%, 40em 40em, rgba(108, 70, 34 , .5), transparent),
-webkit-radial-gradient(10% 10%, circle, rgba(196, 137, 118, .7), transparent);
background:
-moz-radial-gradient(80% 10%, circle, rgba(191, 62, 35, .5), transparent),
-moz-radial-gradient(80% 50%, circle, rgba(237, 192, 97, .4), transparent),
-moz-radial-gradient(20% 80%, 40em 40em, rgba(108, 70, 34 , .5), transparent),
-moz-radial-gradient(10% 10%, circle, rgba(196, 137, 118, .7), transparent);
}
.centerPage {
position:fixed;
top:50%;
left:50%;
transform:translate(-50%, -50%);
-webkit-transform:translate(-50%, -50%);
-moz-transform:translate(-50%, -50%);
-o-transform:translate(-50%, -50%);
-ms-transform:translate(-50%, -50%);
background-color:transparent;	
padding:5px;
z-index:100;
text-align:center;
}
.disclaimer {
background-color:pink;
font-size:12pt;
z-index:1000;
border:6px solid;
border-radius:24px;
width:25rem;
height:20rem;
}
.disclaimertext {
margin-top:0;
margin-bottom:0;
padding:5px;
display:block;
}
#updates {
margin-top:0;
margin-bottom:0;
padding:5px;
display:block;
text-align:left;
}
.dTitle {
margin-top:0.3rem;
margin-bottom:0.3rem;
font-size:2.5rem;
font-weight:bold;
}
.acceptButton {
border-radius:24px;
margin-bottom:0.3rem;
margin-top:0.3rem;
width:10rem;
height:2rem;
font-size:120%;
border: 2px solid;
}
.centerfr {
margin:auto;
text-align:center;
display:block;
overflow:auto;
height:100pt;
}
.dtf {border-collapse:collapse;margin:0;border:0px;width:100%;height:100%}
.topright {
z-index:101;
top:0;
right:0;
width:3rem;
position:absolute;
border:3px solid;
padding:5px;
background-color:pink;
border-radius:6px;
text-align:center;
}
.letterBox {
height:1em;width:1em;z-index:101;top:50px;
border:0 transparent;border-bottom:black 6px solid;
text-align:center;font-size:3rem;padding:1px;
}
.shakeEl
{
animation-iteration-count:1;
animation: shake 0.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 102;
  top: 0;
  right: 0;
  background-color: pink;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* exploding */
#explosionContainer {
width:300px;
height:300px;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%, -50%);
-webkit-transform:translate(-50%, -50%);
-moz-transform:translate(-50%, -50%);
-o-transform:translate(-50%, -50%);
-ms-transform:translate(-50%, -50%);
background-color:transparent;	
padding:5px;
z-index:101;
text-align:center;
}
.exploding, .exploding:focus, .exploding:hover {
	background: transparent;
	color: transparent;
}
.exploding {
	pointer-events: none;
	position: relative;
	will-change: transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.particle {
	position: absolute;
	top: 0;
	left: 0;
}
.particle--debris {
	background: #ffffff;
}
.particle--fire {
	border-radius: 50%;
}
/* media prefs */
@media (prefers-color-scheme: dark) {
	body {
		background: #660066;
	}
}
@media screen and (max-width:768px)
{
img{
width:50%;
height:50%;}
.letterBox{
width:2rem;
height:2.2rem;
font-size:2rem;
border-bottom:3px solid black;
padding:0.1rem;}
#testWord{font-size:5rem;}
#verified {font-size: 4rem; margin-bottom: 1rem;}
.centerPage{width:100%;}
#explosionContainer{
width:200px;height:200px;}
}
/*@media screen and (min-width:1081px)
{
img{width:50%;height:50%;}
.centerPage {width:50%;}
.letterBox {
width:8rem;
height:8.2rem;
font-size:8rem;
border-bottom:6px solid black;
padding:1rem;}
#testWord{font-size:10rem;}
.particle {
	position: absolute;
	top: 0;
	left: 0;
	width:50%;
	height:50%;
}
.particle--debris {
	background: #ffffff;
	width:50%;
	height:50%;
}
.particle--fire {
	border-radius: 50%;
	width:50%;
	height:50%;
}
}*/